@font-face {
  font-family: 'RobotoLight';
  src: url('fonts/Roboto-Light.ttf') format('truetype');

}

body {
  font-family: helvetica;
  color: rgb(11, 11, 12);
  background-color: rgb(250,250,250);
  //background: linear-gradient(90deg, rgba(150,233,153,1) 0%, rgba(112,131,223,1) 100%);
}

h2 {
  font-size: 20px;
  color: rgb(80,80,80);
  font-family: RobotoLight;
  padding-left: 20px;
}

p {
  color: rgb(60,60,60);
  font-family: RobotoLight;
  padding-left: 20px;

}

.topbar {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(250,250,250);
  outline-color: rgb(200, 200, 200);
  outline-width: thin;
  outline-style: solid;
  font-family: RobotoLight;
  z-index: 999;
}

.topbar span {
  float: right;
  padding-right: 16px;
  padding-top: 16px
}

.topbar h1 {
  float: left;
  color: rgb(50,168,96);
  padding: 0px 32px;
}

.grid-container {
  display: grid;
  grid-column-gap: 32px;
  grid-row-gap: 8px;
  align-items: center;
  height: 320px;
  width: 480px;
  padding-left: 16px;
  align-items: start;
  margin-top: 80px;
  padding-top: 16px;

}

.grid-container a {
  text-decoration: none;
  color: rgb(80,80,80);
  font-family: RobotoLight;
}

.grid-item {
  height: 320px;
  width: 240px;
  background-color: rgb(245,245,245);
  box-shadow: 4px 4px 4px 0px rgba(200,200,200,10);
  border-radius: 8px 8px 8px 8px;
}

.grid-item h2 {
  font-size: 20px;
  color: rgb(80,80,80);
  font-family: RobotoLight;
  padding-left: 16px;

}

.grid-item p {
  color: rgb(60,60,60);
  font-family: RobotoLight;
  padding-left: 16px;

}

#gridItem1 {
  grid-row: 1;
  grid-column: 1;
}
#gridItem1Anchor:hover ~ #aboutMeText {
  visibility: visible;
}
#gridItem2Anchor:hover ~ #slateText {
  visibility: visible;
}
#gridItem3Anchor:hover ~ #pomText {
  visibility: visible;
}
#gridItem2 {
  grid-row: 1;
  grid-column: 2;
}
#gridItem3 {
  grid-row: 1;
  grid-column: 3;
}
#gridItem4 {
  grid-row: 1;
  grid-column: 4;
}

.mouseOverText {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-item-image {
  width: 240px;
  height: 66%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
  position: relative;
  overflow: hidden;
}
.mouseOverText {
  visibility: hidden;
}
.mouseOverText p {
  padding-left: 8px;
}
.mouseOverText h2 {
  padding-left: 8px;
}
