body {
  font-family: helvetica;
  color: rgb(11, 11, 12);
  background-color: rgb(250,250,250);
}

h2 {
  font-family: monospace;
  color: rgb(210,204,161);
}
.topbar h1 {
  color: rgb(50,168,96);
  padding: 6px 16px;
}

ul {
  font-family: monospace;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 160;
  left: 0;
  background-color: rgb(250,250,250);
  outline-color: rgb(200, 200, 200);
  outline-width: thin;
  outline-style: solid;
}
.topbar {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(250,250,250);
  outline-color: rgb(200, 200, 200);
  outline-width: thin;
  outline-style: solid;
}
.topbar span {
  float: right;
  padding-right: 6px;
  padding-top: 16px
}
.topbar h1 {
  float: left;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(11, 11, 12);
  display: block;
  margin-top: 10px;
}

.sidenav a:hover {
  color: rgb(50,168,96);
}

#main {
  max-width: 500px;
  margin-left: 160px;
  margin-top: 80px;
  padding: 10px 10px;
}
