@font-face {
  font-family: 'RobotoLight';
  src: url('fonts/Roboto-Light.ttf') format('truetype');

}

body {
  font-family: helvetica;
  color: rgb(11, 11, 12);
  background-color: rgb(250,250,250);
  //background: linear-gradient(90deg, rgba(150,233,153,1) 0%, rgba(112,131,223,1) 100%);

}

h2 {
  font-family: monospace;
  color: rgb(210,204,161);
}
.topbar h1 {
  color: rgb(50,168,96);
  padding: 6px 16px;
}

ul {
  font-family: monospace;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 160;
  left: 0;
  background-color: rgb(250,250,250);
  outline-color: rgb(200, 200, 200);
  outline-width: thin;
  outline-style: solid;
}
.topbar {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(250,250,250);
  outline-color: rgb(200, 200, 200);
  outline-width: thin;
  outline-style: solid;
  font-family: RobotoLight;
}
.topbar span {
  float: right;
  padding-right: 6px;
  padding-top: 16px
}
.topbar h1 {
  float: left;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(11, 11, 12);
  display: block;
  margin-top: 10px;
}

.sidenav a:hover {
  color: rgb(50,168,96);
}

.grid-container {
  display: grid;
  grid-column-gap: 32px;
  grid-row-gap: 8px;
  align-items: center;
  height: 320px;
  width: 480px;
  padding-left: 16px;
}

.grid-item {
  height: 320px;
  width: 240px;
  background-color: rgb(245,245,245);
  box-shadow: 4px 4px 4px 0px rgba(200,200,200,10);
  border-radius: 8px 8px 8px 8px;
}

#gridItem1 {
  grid-row: 1;
  grid-column: 1;
}
#gridItem2 {
  grid-row: 1;
  grid-column: 2;
}
#gridItem3 {
  grid-row: 1;
  grid-column: 3;
}
#gridItem4 {
  grid-row: 1;
  grid-column: 4;
}

#tempImg {
  width: 240px;
  height: 66%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
  position: relative;
  overflow: hidden;
}

#main {
  max-width: 500px;
  //margin-left: 160px;
  margin-top: 80px;
  padding: 10px 10px;
}
